.side-nav .inner{
	position: fixed;
	width: 160px;
}
.side-nav .inner>p{
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	border-bottom: 1px dashed#dadada;
	cursor: pointer;
}
.side-nav .inner>p:hover{
	color: #fd6363;
}
.side-nav .inner>.find{
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	padding-bottom: 20px;
	border-bottom: 1px dashed#dadada;
}
.article.active{
	color: #fd6363;
}
.share.active{
	color: #fd6363;
}


/*主要内容区域*/
.main-content{
	margin-top: 90px;
	padding-bottom: 30px;
}

.wrapper.wrapper-960{
	width: 960px;
}

.content-area{
	padding-left: 190px;
}


.fd-topic-item{
	margin-bottom: 30px;
	height: 126px;
	width: 520px;
	padding-left: 250px;
	cursor: pointer;
}
.fd-topic-item .cover{
	float: left;
	margin-left: -250px;
	width: 230px;
	height: 100%;
	overflow: hidden;
}
.fd-topic-item .cover>img{
	width: 230px;
}
.fd-topic-item .title{
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
	color: #444;
}
.fd-topic-item .content:hover .title{
	color: #ed4c4c;
}
.fd-topic-item p.text{
	line-height: 24px;
	height: 48px;
	padding-top: 6px;
	font-size: 14px;
	overflow: hidden;
	color: #999;
}
.fd-topic-item .content{
	position: relative;
	height: 126px;
}
.fd-topic-item .favor{
	position: absolute;
	right: 0;
	bottom: 0;
	line-height: 18px;
	color: #999;
}

/*
 	晒单区域
 * */
.post-list{
	margin: 0 -5px;
}

.fd-post-item{
	position: relative;
	margin: 0 5px 10px;
	float: left;
	width: 230px;
	padding: 9px;
	border: 1px solid #f7f7f7;
	transition: all .2s;
	overflow: hidden;
	cursor: pointer;
}
.fd-post-item .cover{
	width: 230px;
	height: 230px;
	overflow: hidden;
}
.fd-post-item .cover>img{
	width: 230px;
}
.fd-post-item .info{
	padding-top: 10px;
	line-height: 36px;
}
.fd-post-item .info .nick-name{
	float: left;
	width: 104px;
	padding-left: 5px;
	color: #666;
	text-overflow: ellipsis;
	
}
.fd-post-item .info .favor{
	float: right;
	color: #666;
}
.fd-post-item .info .user-img{
	float: left;
	width: 36px;
	height: 36px;
	border-radius:50%;
	background: url(../img/post/99.jpg) no-repeat;
	background-size: cover;
	
}
.fd-post-item .comment{
	padding-top: 5px;
	line-height: 24px;
	height: 72px;
	color: #666;
	font-size: 14px;
	overflow: hidden;
}
.fd-post-item:hover{
	transform: scale(1.02);
	...box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
.fd-post-item:after{
	position: absolute;
	content: '';
	display: block;
	width: 80%;
	height: 1px;
	bottom: 0;
	left: 10%;
	transition: all;
}

.fd-post-item:hover .fd-post-item:after{
	box-shadow: 0 2px 12px rgba(0,0,0,0.2);
	bottom: -10px;
}
