/*banner 样式*/
.banner{
	height: 340px;
	width: auto;
	margin-top: 60px;
	background: url(../img/1212.jpg) center no-repeat;
	background-size: 100% 340px;
}
.banner>a{
	display: block;
	width: 100%;
	height: 100%;
}

/*
 	maincontent
 * */
.main-content{
	margin-top: 30px;
}
.main-content .wrapper.wrapper-950{
	position: relative;
}
.topic-list{
	float: left;
	width: 600px;
}
.topic-init{}
.topic-item{
	position: relative;
	margin-bottom: 30px;
	padding-left: 250px;
	width: 350px;
	height: 126px;
}
.topic-item .cover-area{
	float: left;
	margin-left: -250px;
	width: 230px;
	height: 100%;
}
.topic-item .cover-area>img{
	display: block;
	width: 100%;
	height: auto;
	cursor: pointer;
}
.topic-item .datail-area{}
.topic-item .datail-area .title{
	line-height: 28px;
	font-size: 18px;
	font-weight: 700;
}
.datail-area .con-preview{
	font-size: 14px;
	line-height: 24px;
	padding-top: 6px;
	height: 48px;
	overflow: hidden;
	color: #999;
}

.info-area{
	position: absolute;
	width: 350px;
	bottom: 0;
	right: 0;
	color: #999;
}
.info-area .user{
	float: left;
}
.info-area .favor{
	float: right;
}

/*
 	右侧固定区域
 * */

.topic-category{
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	color: #666;
}
.topic-tags>.title{
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}
.tag-wrap{
	width: 310px;
	margin: 10px -5px 30px;
	
}
.tag-wrap>li.tag-item{
	margin: 10px 5px 0;
	float: left;
	padding: 0 15px;
	line-height: 22px;
	border: 1px solid #eaeaea;
	font-size: 14px;
	border-radius: 12px;
	cursor: pointer;
}
.tag-wrap>li.tag-item:hover{
	background: #fd6363;
	border-color: #fd6363;
}
.tag-wrap>li.tag-item:hover a{
	color: #fff;
}
.tag-wrap>li.tag-item>a{
	color: #666;
}

.sugar-app{
	position: relative;
}
.sugar-app>img{
	display: block;
	width: 300px;
	height: auto;
}
.app-link{
	display: block;
	position: absolute;
	top: 90px;
	left: 16px;
	height: 36px;
	width: 150px;
}
