/*
 	头部样式
 * */

header.head{
	height: 60px;
	background: #fff;
}
.wrapper.wrapper-head{
	min-height: 1030px;
	max-height: 1440px;
}
.head-menu-left{
	float: left;
	margin-left: 40px;
}
.head-menu-right{
	margin-right: 40px;
	float: right;
}
.logo{
	float: left;
	width: 47px;
	height: 24px;
	margin-right: 18px;
	margin-top: 18px;
	background: url(../img/logo.png) no-repeat 0 -23px;
	background-size: 47px 47px;
	
}

.main-nav{
	float: left;
	padding-left: 10px;
}
.main-nav>li{
	float: left;
	line-height: 60px;
	margin: 0 20px;
	font-size: 14px;
}
.main-nav>li>a{
	display: block;
	line-height: 28px;
	height: 28px;
	margin: 16px 0;
	position: relative;
}
.main-nav>li>a:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	display: block;
	height: 2px;
	width: 0;
	background: #fd6363;
	transition: all .2s;
	
}
.main-nav>li>a.current:after{
	width: 100%;
	left: 0;
}
.main-nav>li>a:hover:after{
	width: 100%;
	left: 0;
}


.head-menu-right{
	margin-top: 13px;
}
.head-menu-right .login-register{
	float: right;
	width: 100px;
	height: 30px;
	border-radius: 15px;
	background: #fd6363;
	color: #fff;
	text-align: center;
	line-height: 30px;
}
#search-form{
	position: relative;
	margin-right: 30px;
	float: right;
}
#search-form>input{
	height: 26px;
	width: 170px;
	border: 1px solid #bfbfbf;
	border-radius: 15px;
	outline: none;
	line-height: 28px;
	color: #999;
	padding-left: 30px;
	transition: all .5s;
}

#search-form>input:focus{
	width: 200px;
}
/**/