/*
 wrapper
 * */
.wrapper{
	width: 1030px;
	margin: 0 auto;
}
.wrapper.wrapper-950{
	width: 950px;
}
.clearfix:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
}


/*
 	头部样式
 * */

header.head{
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background: #fff;
	z-index: 100;
}
.wrapper.wrapper-head{
	width: 100%;
	min-width: 1030px;
	max-width: 1440px;
}
.head-menu-left{
	float: left;
	margin-left: 40px;
}
.head-menu-right{
	margin-right: 40px;
	float: right;
}
.logo{
	float: left;
	width: 47px;
	height: 24px;
	margin-right: 18px;
	margin-top: 18px;
	background: url(../img/logo.png) no-repeat 0 -23px;
	background-size: 47px 47px;
	
}

.main-nav{
	float: left;
	padding-left: 10px;
}
.main-nav>li{
	float: left;
	line-height: 60px;
	margin: 0 20px;
	font-size: 14px;
}
.main-nav>li>a{
	display: block;
	line-height: 28px;
	height: 28px;
	margin: 16px 0;
	position: relative;
}
.main-nav>li>a:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	display: block;
	height: 2px;
	width: 0;
	background: #fd6363;
	transition: all .2s;
	
}
.main-nav>li>a.current:after{
	width: 100%;
	left: 0;
}
.main-nav>li>a:hover:after{
	width: 100%;
	left: 0;
}


.head-menu-right{
	margin-top: 13px;
}
.head-menu-right .login-register{
	float: right;
	width: 100px;
	height: 30px;
	border-radius: 15px;
	background: #fd6363;
	color: #fff;
	text-align: center;
	line-height: 30px;
}
#search-form{
	position: relative;
	margin-right: 30px;
	float: right;
}
#search-form>input{
	height: 26px;
	width: 170px;
	border: 1px solid #bfbfbf;
	border-radius: 15px;
	outline: none;
	line-height: 28px;
	color: #999;
	padding-left: 30px;
	transition: all .5s;
}

#search-form>input:focus{
	width: 190px;
}

/*
 页脚样式
 * */
footer.foot{
	color: #bfbfbf;
	background: #434446;
}
footer.foot a{
	color: #bfbfbf;
}
footer.foot p{
	padding-bottom: 18px;
	line-height: 12px;
}
 footer.foot p.last{
	padding-bottom: 0;
}
.wrapper-foot.wrapper{
	width: 100%;
	min-width: 1030px;
    max-width: 1440px;
}
footer.foot .fri-links>p{
	padding-bottom: 0;
}
.foot-left{
	float: left;
	margin: 30px 60px 30px 40px;
	padding-left: 10px;
	border-left: 1px solid #7b7b7b;
}
footer.foot .links-list>a{
	float: left;
	line-height: 12px;
	padding: 15px 15px 0 0;
	color: #666;
}
p.links-list{
	position: relative;
	width: 460px;
	height: 81px;
	overflow: hidden;
}
p.links-list.active{
	height: auto
}
p.links-list .links-fold{
	display: block;
	position: absolute;
	line-height: 12px;
	right: 0;
	bottom: 0;
	cursor: pointer;
	color: #666;
}

.foot-right{
	float: right;
	margin-right: 40px;
	margin-top: 30px;
}
.text-area{
	float: left;
	width: ;
	color: #dbdbdb;
	text-align: right;
}
.text-area>h3{
	display: inline-block;
	margin-top: 6px;
	width: 62px;
	height: 32px;
	background: url(../img/footer-logo-v2@2x.png) no-repeat;
	background-size: 62px 32px;
}
.text-area>p.find{
	font-size: 16px;
	line-height: 16px;
	padding-top: 15px;
	padding-bottom: 0;
}
.text-area>span{
	display: block;
	padding-top: 15px;
}
.code-area{
	float: left;
	padding-left: 15px;
	width: 100px;
	height: 100px;
}
.code-area>img{
	display: block;
	width: 100px;
	height: 100px;
}


/*
 	登录界面
 * */
.log-reg-page{
	position: fixed;
	display: none;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
}

.reg-page-inner{
	position: fixed;
	z-index: 1001;
	width:420px;
	left: 50%;
	top: 40px;
	margin-left: -210px;
	background: #fff;
}
.reg-page-inner>.logo-area{
	width: 100%;
	height: 160px;
}
.reg-page-inner>.logo-area>img{
	width: 100%;
	height: 160px;
}
#message{
	padding: 30px 70px 0;
}
#message .com{
	width: 280px;
	height: 40px;
	margin-bottom: 20px;
}
#message .com>input{
	display: block;
	height: 38px;
	border: 1px solid #ddd;
	outline: none;
	border-radius: 20px;
	font-size: 14px;
	padding: 0 15px;
}
#message .com>input.full{
	display: block;
	width: 248px;
}
#message .com>input.math{
	width: 128px;
	float: left;
}
#message .com .ran-math{
	float: right;
	padding: 0 15px;
	width: 70px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	text-align: center;
	color: #666;
	letter-spacing: 5px;
	background: #f5f5f5;
	border-radius: 20px;
	cursor: pointer;
}
#message .complete>span.full{
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	font-size: 16px;
	color: #fff;
	background: #fd6363;
	text-align: center;
	cursor: pointer;
}
#message .complete>span.full:hover{
	background: #f88;
}
.log-page{
	display: block;
	text-align: center;
	margin-top: -10px;
	color: #3f8cca;
}

.reg-page-inner .social{
	width: 280px;
	margin: 30px auto 0;
	position: relative;
	text-align: center;
	font-size: 14px;
	line-height: 15px;
	color: #666;
}
.reg-page-inner .social:after{
	position: absolute;
	right: 0;
	top:7px;
	content: '';
	display: block;
	width: 50px;
	height: 1px;
	background:#eaeaea;
}
.reg-page-inner .social:before{
	position: absolute;
	left: 0;
	top:7px;
	content: '';
	display: block;
	width: 50px;
	height: 1px;
	background:#eaeaea;
}
.social-log {
	padding: 20px 70px 50px;
	color: #666;
	text-align: center;
	font-size: 14px;
}

.social-log .wechart{
	float: left;
	width: 28px;
	padding-left: 60px;
}
.social-log .wechart>a{
	display: block;
	margin-bottom: 5px;
	width: 24px;
	height: 24px;
	transform: scale(1.25);
	background: url(../img/icon/sprites@x2.png);
	background-size: 200px 150px;
	background-position: -94px -64px;
	border-radius: 50%;
	transform: all .2s;
	
}
.social-log .wechart>a:hover{
	background-position: -94px -38px;
}

.social-log .qq{
	float: right;
	width: 28px;
	padding-right: 60px;
}
.social-log .qq>a{
	display: block;
	margin-bottom: 5px;
	width: 24px;
	height: 24px;
	transform: scale(1.25);
	background: url(../img/icon/sprites@x2.png);
	background-size: 200px 150px;
	background-position: -118px -64px;
	border-radius: 50%;
	transform: all;
}

.social-log .qq>a:hover{
	background-position: -118px -38px;
}
